name = "degenlab"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]
pages_build_output_dir = ".vercel/output/static"

[vars]
NEXT_PUBLIC_RPC_ENDPOINT = "https://api.mainnet-beta.solana.com"
